<html>
<header>
<title>Aesthetic Image Captioning</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link href="static/gui_style.css" rel="stylesheet" type="text/css">
</header>
<body>
<h1>Experiment</h1>
<div class="image_container">
<img src={{image_0}} alt={{image_0}}>
    <img src={{image_1}} alt={{image_1}}>
    <br>
</div>

<form action=/display_next_exp_stimuli method="post">
<div class="radio_block" align="center">
  <input type="radio" name="better_image" value="image_0" checked> Image 0
  <input type="radio" name="better_image" value="image_1"> Image 1
</div>

<div align="center">
        <input type="submit" value="Next">
    </div>
</form>
</body>
</html>