<!DOCTYPE html>
<html>

<head>
<link href="static/gui_style.css" rel="stylesheet" type="text/css">
<title>Aesthetic Image Captioning</title>
</head>

<body>
<h1 >Subjective Quality Assessment of ___</h1>
<form action="/give_directions" method="post" >
<div align="center">
  <p><u>Participant ID</u><br>
  <input type="text" name="participant_id" style="height:50px;font-size:14pt;" size=50% ><br>
  </div><br><br>
  <div align="center" >
<p><u>Familiarity with ***</u><br>
  <input type="radio" name="expertise" value="novice" checked> Novice
  <input type="radio" name="expertise" value="intermediate"> Intermediate
  <input type="radio" name="expertise" value="expert"> Expert 
  </div><br><br><br><br>
  <div align="center">
  <div align="center">
   <input type="submit" value="Start">
   </div>
</form>
</body>
</html>
